{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
    <section id="page-header">
        <h2>#stayhome</h2>
        <p>Save more with coupons & up to 70% off!</p>
    </section>

    <section id="products1" class="section-p1">
        <div class="pro-container">
            <!-- Product 1 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="{{ url_for('static', filename='img/Products/f1.jpg') }}" alt="Product Image">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>₹800</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
            </div>

            <!-- Product 2 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="{{ url_for('static', filename='img/Products/f2.jpg') }}" alt="Product Image">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>₹800</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
            </div>

            <!-- Product 3 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="{{ url_for('static', filename='img/Products/f3.jpg') }}" alt="Product Image">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>₹800</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
            </div>

            <!-- Product 4 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="{{ url_for('static', filename='img/Products/f4.jpg') }}" alt="Product Image">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>₹800</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
            </div>

            <!-- Product 5 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="{{ url_for('static', filename='img/Products/f5.jpg') }}" alt="Product Image">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>₹800</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
            </div>

            <!-- Product 6 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="{{ url_for('static', filename='img/Products/f6.jpg') }}" alt="Product Image">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>₹800</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
            </div>

            <!-- Product 7 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="{{ url_for('static', filename='img/Products/f7.jpg') }}" alt="Product Image">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>₹800</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
            </div>

            <!-- Product 8 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="{{ url_for('static', filename='img/Products/f8.jpg') }}" alt="Product Image">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>₹800</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
            </div>

            <!-- Product 9 -->
            <div class="pro" onclick="window.location.href='sproduct.html';">
                <img src="{{ url_for('static', filename='img/Products/n1.jpg') }}" alt="Product Image">
                <div class="des">
                    <span>adidas</span>
                    <h5>Cartoon Astronaut T-shirt</h5>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <h4>₹800</h4>
                </div>
                <a href="#"><i class="fa fa-shopping-cart cart" aria-hidden="true"></i></a>
            </div>
        </div>
    </section>

    <section id="pagination" class="section-p1">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </section>

    <section id="newletter" class="section-p1 section-m1">
        <div class="newtext">
            <h4>Sign Up For Newsletters</h4>
            <p>Get E-mail updates about our latest shop and <span>special offers.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="Your email address">
            <button class="normal">Sign Up</button>
        </div>
    </section>
{% endblock %}
